*{
    margin: 0;
}
.not{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.not >h1{

    font-size: 68px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
}
.not >p{
    font-size: 48px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}